<h1>Listing incentives</h1>

<table>
  <tr>
    <th>Ptid</th>
    <th>Serial number</th>
    <th>Date out</th>
    <th>Field manager</th>
    <th>Transfered</th>
    <th>Date transfered</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incentives.each do |incentive| %>
  <tr>
    <td><%= incentive.ptid %></td>
    <td><%= incentive.serial_number %></td>
    <td><%= incentive.date_out %></td>
    <td><%= incentive.field_manager %></td>
    <td><%= incentive.transfered %></td>
    <td><%= incentive.date_transfered %></td>
    <td><%= link_to 'Show', incentive %></td>
    <td><%= link_to 'Edit', edit_incentive_path(incentive) %></td>
    <td><%= link_to 'Destroy', incentive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incentive', new_incentive_path %>
