<header class="append-bottom clear span-24">
	<%= link_to logo, '/' %>
		<nav class="round"><ul class="menu round">
			<li class="span-4 "><%= link_to "Home",'/'%>
				<ul>
					<li class="span-1 "><%= link_to "View", '#' %></li>
					<li class="span-1 "><%= link_to "Add", '#' %></li>
				</ul>
			</li>
			<li class="span-4 "><%= link_to "Incentives", '/incentives' %></li>
			<li class="span-4 "><%= link_to "Sign-In", '/signin' %></li>
			<li class="span-4 "><%= link_to "Contact", '/contact' %></li>
			</ul>
		</nav> 
</header>