<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | SHIMS Research Database</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
	<div class="header append-bottom clearfix span-24">
		<ul class="menu">
			<li class="span-4 "><a href = "/">PTID</a>
				<ul>
					<li class="span-1 "><a href = "/">View</a></li>
					<li class="span-1 "><a href = "/">Add</a></li>
				</ul>
			</li>
			<li class="span-4 "><a href = "/">CALL LOG</a></li>
			<li class="span-4 "><a href = "/">INCENTIVES</a></li>
			<li class="span-4 "><a href = "/">CONTACT</a></li>
		</ul>
	</div>
	<div class="main-body"><%= yield %></div>
	<div class+"footer"></div>
</>
</body>
</html>
